// Usage:
// <div class="device iphone white">
//   <img src="assets/images/devices/iphone_white.svg" />
//   <div class="content">
//     iphone content
//   </div>
// </div>
// .iphone {@inlcude iPhone}
@mixin iPhone {
  @include device;

  .content {
    top: 10%;
    bottom: 12%;
    left: 3%;
    right: 3%;
  }
}

// Usage:
// <div class="device ipad black">
//   <img src="assets/images/devices/ipad_black.svg" />
//   <div class="content">
//     ipad
//   </div>
// </div>
// .ipad {@inlcude iPad}
@mixin iPad {
  @include device;

  .content {
    top: 7%;
    right: 6%;
    left: 6%;
    bottom: 9%;
  }
}

// Usage:
// <div class="device iMac">
//   <img src="assets/images/devices/imac.svg" />
//   <div class="content">
//     imac
//   </div>
// </div>
// .iMac { @indlude iMac }
@mixin iMac {
  @include device;

  .content {
    top: 5.5%;
    right: 5.3%;
    left: 5.3%;
    bottom: 33%;
  }
}

// Usage:
// .device.iMac
//    img(src="../web/assets/images/devices/imac.svg")
//      .content
// .macbook { @include macBook }
@mixin macBook {
  //perspective: 1500px;
  perspective-origin: 50% 100%;
  text-align: center;

  &.open {
    .display {
      transform: rotateX(90deg) translateY(-100%) rotateX(-90deg);
      display: inline-block;
      width: 75%;
      opacity: 1;
    }
  }

  float: left;

  .display {
    position: relative;
    transform-origin: 0 100% 0;
    transition: all 1s ease, opacity 0s linear;
    transform: rotateX(90deg) translateY(-100%) rotateX(-180deg);
    display: inline-block;
    width: 75%;
    line-height: 0;
    opacity: 0;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }

    .content {
      position: absolute;
      left: 3%;
      right: 3%;
      top: 5%;
      bottom: 6%;
      line-height: 1;
      background-color: black;
      color: white;

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
  }

  .base {
    line-height: 0;
    position: absolute;
    width: 100%;
    top: 100%;
  }
}

// Internal usage mixin
@mixin device() {
  position: relative;
  float: left;
  line-height: 0;

  .content {
    line-height: 1;
    background-color: black;
    color: white;
    position: absolute;

    img {
      object-fit: fill;
      width: 100%;
      height: 100%;
    }
  }
}
