@mixin container() {
  max-width: 1800px;
  margin: 0 auto;
}

%ul-style {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    float: left;
  }
}

@mixin animation($name, $time: .75s, $delay: 0s) {
  animation: $name $time ease $delay 1 normal;
  animation-fill-mode: forwards;
  animation-play-state: paused;

  &.animate {
    animation-play-state: running;
  }
}
