$bg_main: #eef8fa;

//Main Palette
$main_blue: #20b7d9;
$main_blue-hover: #1f9fbc;

$button_shadow: #1c6c86;
$header_text: #1c6c86;

//Text Colors
$ct_dark: #333;
$ct_light: #fff;

//WWD Colors 
$colors: #00ffc5, #ff9140, #ed2154, #20b7d9, #e46cfd;

//Transform
$upper: uppercase;
