@import "normalize/import-now";

//Variables
@import 'variables';
@import 'extentions';
@import 'devices';

// slick CAROUSEL
$slick-font-path: "../fonts/slick/";
$slick-loader-path: "../images/slick/";

@import 'slick.scss';
@import 'slick-theme.scss';

// basis
@import 'basic/utils';

// Typography
@import 'basic/fonts';

//Form
@import 'basic/button';
@import 'basic/form';

$fa-font-path: "../fonts/FontAwesome";

@import 'font-awesome';
@import 'basic/typography';

//GRID LAYOUT
@import 'wrapper-grid';

//Template Parts
@import 'template/header';
@import 'template/main';
@import 'template/footer';
