section.contacts {
  .contact-wrap {
    @include container();

    padding: 0 10px 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    grid-template-areas:
      "form"
      "form_submit"
      "credits";

    @media screen and (min-width: 768px) {
      padding: 0 15px 50px;
      grid-template:
        "form form credits credits"
        ". form_submit form_submit .";
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr auto;
    }

    @media screen and (min-width: 992px) {
      grid-template:
        ". form form credits credits ."
        ". . form_submit form_submit . .";
      grid-template-columns: repeat(6, 1fr);
    }

    .form,
    .credits {
      padding: 30px 0;
    }

    .form {
      //height: 300px;
      //background-color: pink;
      display: grid;
      align-items: center;
      //justify-content: center;
      grid-area: form;
      text-align: center;

      input {
        width: 80%;
        display: inline-block;
        margin: 15px 0;
      }
    }

    .form-sbm {
      grid-area: form_submit;
      text-align: center;
    }

    .credits {
      display: grid;
      grid-area: credits;
      align-content: center;
      //height: 300px;
      //background-color: aqua;

      p {
        padding: 0;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
        color: $main_blue;
        font-size: 2rem;

        &.title {
          color: $ct_dark;
          font-weight: 500;
          font-size: 2.2em;
          line-height: 1.2;
        }

        a {
          color: $main_blue;

          &:hover {
            color: $main_blue-hover;
          }
        }
      }
    }
  }

  .map {
    width: 100%;
  }

  button {
    @include button($main_blue, $button_shadow, false);
  }
}
