span#phone {
  position: fixed;
  left: -300px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  z-index: 20;
  background-color: $main_blue;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  transition: all .25s ease-in-out;

  @media screen and (min-width: 375px) {
    width: 83px;
    height: 83px;
  }

  i {
    line-height: 50px;
    color: #fff;
    font-size: 25px;

    @media screen and (min-width: 375px) {
      line-height: 83px;
      font-size: 40px;
    }
  }

  &::before {
    @include animation(btn-ring-lg, 1.5s);

    animation-iteration-count: infinite;
    animation-play-state: running;
    content: '';
    width: 50px;
    height: 50px;
    border: 2px solid $main_blue;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media screen and (min-width: 375px) {
      width: 83px;
      height: 83px;
    }
  }

  &:hover {
    transform: rotate(360deg);
    background-color: $main_blue-hover;

    &::before {
      display: none;
    }
  }

  @keyframes btn-ring-lg {
    from {
      transform: translate(-50%, -50%) scale(1);
    }

    to {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }

  &.show {
    left: 30px;
  }
}

.modal-form {
  width: 100%;
  height: 100vh;
  background: url('../images/modal-bg.png') rgba(#000, .7) center bottom;
  background-size: cover;
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 10;
  transition: all .7s ease; // transform: translateY(-100%);
  opacity: 0;

  &.shown {
    transform: translateY(100%);
    opacity: 1;
  }

  .overlay {
    position: absolute;
    background-color: rgba(#000, .5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
  }

  .closebtn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 60px;
    height: 60px;

    @media screen and (max-width: 767px) {
      top: 10px;
      width: auto;
      height: auto;
      right: 50%;
      transform: translate(50%, 0);
    }

    &::after {
      @include fa-icon();

      display: block;
      position: relative;
      content: $fa-var-times;
      font-size: 3em;
      color: $ct_light;
      transition: all .25s ease-in-out;
      opacity: .7;
      transform: scale(.8);
    }

    &:hover {
      &::after {
        transform: scale(.9);
        opacity: 1;
      }
    }
  }

  .content {
    overflow: hidden;
    max-height: 100%;
    padding: 30px;

    @media screen and (max-width: 767px) {
      overflow: scroll;
    }

    .LONG {
      //height: 300vh;
      width: 100%;

      .section-title {
        color: $ct_light;

        .subtitle {
          color: $ct_light;
        }
      }

      .form {
        margin-top: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        .wrap {
          display: grid;
          justify-content: center;
          grid-gap: 15px;
          grid-template-rows: repeat(4, 1fr);
          grid-template-areas: "leftcol" "message" "submit" "subtext";

          @media screen and (min-width: 768px) {
            grid-gap: 15px;
            grid-template: 1fr 1fr / 1fr 1fr auto;
            grid-template-areas: "leftcol message" "submit submit" "subtext subtext";
          }

          .left {
            grid-area: leftcol;
            position: relative;

            input {
              display: block;
              width: 100%;

              &:first-child {
                margin-bottom: 10px;
              }
            }
          }

          .message {
            position: relative;
            grid-area: message;
            display: block;
            resize: none;
          }

          button {
            @include button($main_blue,
            $button_shadow);

            font-size: .8em;
            margin-top: 20px;
            display: inline-block;
            grid-area: submit;
            position: relative;
            justify-self: center;

            @media screen and (max-width: 767px) {
              @include button($main_blue, $button_shadow, false);
            }
          }

          p {
            grid-area: subtext;
            text-align: center;
            color: $ct_light;
          }
        }
      }
    }
  }
}
