section.portfolio {
  margin-top: 80px;

  .case {
    display: grid;
    grid-column-gap: 50px;
    grid-template: "title" "view" "desc" / 1fr;
    align-items: center;
    margin: 40px 0;

    &:nth-child(odd) {
      @media screen and (min-width: 992px) {
        grid-template:
          "title view" 50%
          "desc view" auto
          / 1fr 1fr;
      }
    }

    &:nth-child(even) {
      @media screen and (min-width: 992px) {
        grid-template:
          "view title" 50%
          "view desc" auto
          / 1fr 1fr;
      }
    }

    h3.title {
      grid-area: title;
      font-size: 2.7rem;
      text-align: center;
      align-self: end;

      hr {
        width: 10%;
        background: $main_blue;
        height: 3px;
        border: none;
      }

      @media screen and (min-width: 992px) {
        text-align: left;
        font-size: 3rem;

        hr {
          display: none;
        }
      }
    }

    .desc {
      grid-area: desc;
      font-size: 1.5rem;
      align-self: start;

      @media screen and (min-width: 992px) {
        margin-bottom: 0;
      }

      @media screen and (min-width: 592px) {
        font-size: 1.8rem;
      }

      ul {
        padding: 0;
        margin: 0;
        text-align: center;

        @media screen and (min-width: 992px) {
          text-align: left;
        }

        .port-icon {
          padding: 0 4px;

          img {
            width: 50px;
            height: 50px;
          }
        }
      }
    }

    .view {
      grid-area: view;
      height: auto;
      position: relative;

      .look_more {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;

        a {
          @include button($main_blue, $main_blue-hover, false);

          text-align: center;
        }
      }
    }
  }

  .contact-block {
    padding: 25px 0;
    margin: 20px -15px 45px;
    background-color: $main_blue;

    .btn {
      font-size: 2em;
      text-transform: uppercase;
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
    }

    &:hover {
      background-color: $main_blue-hover;

      a {
        color: #fff;
      }
    }
  }
}
