section.preferences {
  background-color: #333;
  padding: 30px 0;
  text-align: center;

  .section-title {
    color: $ct_light;
  }

  .pref-btns {
    ul {
      @extend %ul-style;

      display: inline-block;

      li {
        padding: 0 8px;

        a {
          text-transform: uppercase;
          cursor: pointer;
          transition: all .2s ease-in-out;

          &:hover {
            text-decoration: underline;
          }

          &.active {
            color: $main_blue;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .pref-grid {
    display: grid;
    grid-template-columns: 1fr;
    height: 70%;
    margin-top: 50px;

    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    .pref-text {
      color: $ct_light;
      padding: 0 20px;
      text-align: left;

      h3 {
        text-align: center;
        font-size: 2em;

        @media screen and (min-width: 1024px) {
          text-align: left;
        }
      }
    }

    .pref-animation {
      position: relative;
      height: 100%;
      max-width: 950px;

      & > * {
        transition: all .5s ease;
      }

      &.ideas {
        .iMac {
          @include iMac;
          @include animation(imac);

          top: -20px;
          width: 100%;
          right: 0;
          display: none;
          max-width: 750px;

          @media screen and (min-width: 768px) {
            display: block;
          }

          img {
            width: 100%;
          }

          .content {
            background-color: #fff;
          }

          .lamp {
            @include animation(lamp-rotate, .7s);

            position: absolute;
            left: 50%;
            top: 50%;
            width: 20%;
            transform: translate(-50%, -50%);

            .lamp-lighter {
              @include animation(lamp-shine-light, 1s, .4s);
            }

            .lamp-darker {
              @include animation(lamp-shine-darker, 1s, .4s);
            }
          }
        }

        .document {
          @include animation(document);

          position: absolute;
          width: 30%;
          left: 100px;
          bottom: 100px;
          box-shadow: 4px -4px 10px rgba(0, 0, 0, .5);
          display: none;

          @media screen and (min-width: 768px) {
            display: block;
          }
        }

        &.animate {
          .document,
          .lamp,
          .lamp-lighter,
          .lamp-darker {
            animation-play-state: running !important;
          }
        }
      }

      &.design {
        .iphone {
          @include iPhone;
          @include animation(iphone);

          position: absolute;
          bottom: 100px;
          width: 20%;
          left: 100px;
          box-shadow: 4px -4px 10px rgba(0, 0, 0, .5);
          border-radius: 30px;
          display: none;

          @media screen and (min-width: 768px) {
            display: block;
          }
        }

        .iMac {
          @include iMac;
          @include animation(imac);

          top: -20px;
          right: 0;
          width: 100%;
          display: none;

          @media screen and (min-width: 768px) {
            display: block;
          }

          img {
            width: 100%;
          }

          .content {
            background-color: #fff;
          }
        }

        .ipad {
          @include iPad;
          @include animation(ipad);

          position: absolute;
          right: 100px;
          bottom: 100px;
          width: 40%;
          box-shadow: 4px -4px 10px rgba(0, 0, 0, .5);
          border-radius: 30px;
          display: none;

          @media screen and (min-width: 768px) {
            display: block;
          }
        }
      }

      &.devel {
        .iMac {
          @include iMac;

          top: -20px;
          right: 0;
          width: 100%;
          display: none;

          @media screen and (min-width: 768px) {
            display: block;
          }

          img {
            width: 100%;
          }

          .content {
            @include animation(scroll-code, 2.5s);

            animation-play-state: running;
            background: transparent url('../images/prefs/devel_imac.png') left 0% no-repeat;
          }
        }

        .iphone {
          @include iPhone;
          @include animation(iphone-slide);

          position: absolute;
          bottom: 0;
          width: 30%;
          left: 100%;
          box-shadow: 4px -4px 10px rgba(0, 0, 0, .5);
          border-radius: 30px;
          display: none;

          @media screen and (min-width: 768px) {
            display: block;
          }
        }
      }
    }
  }
}

//Keyframes ideas

@keyframes lamp-rotate {
  15% {
    transform: translate(-50%, -50%) rotate(20deg);
  }

  30% {
    transform: translate(-50%, -50%) rotate(-20deg);
  }

  45% {
    transform: translate(-50%, -50%) rotate(20deg);
  }

  65% {
    transform: translate(-50%, -50%) rotate(-20deg);
  }

  80% {
    transform: translate(-50%, -50%) rotate(20deg);
  }

  95% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes lamp-shine-light {
  to {
    stroke: #f3ff88;
    fill: #f3ff88;
  }
}

@keyframes lamp-shine-darker {
  to {
    fill: #f3ef75;
  }
}

@keyframes document {
  to {
    left: -20px;
    bottom: -10px;
  }
}

// Keyframes design

@keyframes iphone {
  to {
    left: 10px;
    bottom: 0;
  }
}

@keyframes ipad {
  to {
    right: -10px;
    bottom: 0;
  }
}

// Keyframes development

@keyframes scroll-code {
  to {
    background: transparent url('../images/prefs/devel_imac.png') left 100% no-repeat;
  }
}

@keyframes iphone-slide {
  to {
    left: 10px;
  }
}
