.section-title {
  padding: 35px 0;
  text-align: center;

  .subtitle {
    color: $ct_dark;
    display: inline-block;

    hr {
      width: 50%;
      background-color: $main_blue;
      border: none;
      height: 3px;
    }
  }
}
