.what-we-do {
  @include container();

  .slick-list {
    overflow: visible;
  }

  %overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .9;
    z-index: 0;
    mix-blend-mode: multiply;
  }

  @for $i from 1 through 5 {
    .wwd-item:nth-child(5n+#{$i}) {
      .overlay {
        @extend %overlay;

        background-color: nth($colors, $i);
      }
    }
  }

  .wwd-item {
    width: 200px;
    height: 400px;
    background-color: #fff;
    margin: 0 10px;
    outline: none;
    overflow: hidden;
    border-radius: 40px 40px 0 0;
    box-shadow: 0 2px 7px rgba(#000, .5);

    .item-top {
      align-self: flex-start;
      padding: 20px 0;
      background: url('../images/wwd/top-bg.png') center center;
      background-size: cover;
      display: block;
      text-align: center;
      width: 100%;
      position: relative;

      img {
        position: relative;
        z-index: 1;
        display: inline-block;
        width: auto;
        height: 160px;
      }
    }

    h3 {
      margin: 10px;
    }

    .short-text {
      margin: 5px 10px;
      text-align: center;
    }
  }
}
