.case.captainsu {
  .view {
    $width: 600px;
    $ar: 10/16;

    height: $width;
    perspective: 2500px;
    perspective-origin: bottom;
    position: relative;

    .device {
      &.macbook {
        @include macBook;

        position: relative;
        width: 100%;

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &.iphone {
        @include iPhone();
        @include animation(slide-phone);

        position: absolute;
        width: 16%;
        left: 80%;
        top: 24%;
      }
    }
  }

  &.animate {
    .device {
      &.iphone {
        animation-play-state: running;
      }
    }
  }
}

@keyframes slide-phone {
  to {
    right: 1%;
  }
}
