.case.zsad {
  min-height: 400px;

  .view {
    perspective: 2000px;
    perspective-origin: bottom;

    .tiles {
      width: 300px;
      height: 540px;
      transform: translateY(-100px) rotateX(50deg) rotateZ(-20deg);
      transform-style: preserve-3d;
      position: relative;
      margin: -25px auto 0;
      padding: 0;
      transition: all .5s ease-in-out;

      @media screen and (min-width: 768px) {
        width: 360px;
        height: 640px;
      }

      .tile {
        width: 300px;
        height: 540px;
        transform-style: preserve-3d;
        list-style-type: none;
        background-size: cover;
        position: absolute;
        top: 0;
        left: -300%;
        transition: left .5s ease-in;

        @media screen and (min-width: 768px) {
          width: 360px;
          height: 640px;
        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: inherit;
        }

        &::before {
          transform-origin: left center 0;
          transform: rotateY(90deg) scaleX(5);
          width: 1px;
        }

        &::after {
          transform-origin: center bottom 0;
          transform: rotateX(90deg) scaleY(5);
          height: 1px;
          top: auto;
          bottom: 0;
          background-position: center bottom;
        }

        .s {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 50%;
          height: 50%;
          box-shadow: rgba(0, 0, 0, 0.5) 0 0 30px 30px;
          transform: translate3d(-50%, -50%, -70px);
          background: rgba(0, 0, 0, 0.5);
        }

        $xstep: 80px;
        $zstep: 60px;
        $count: 3;
        $offset: ($xstep / 3) * $count + $xstep;

        @for $i from 1 through $count {
          &:nth-child(#{$i}) {
            transform:
              translateX(-($xstep * $i) + $offset)
              translateZ(-$i * $zstep);
            background-image: url("../images/cases/zsad/#{$i}.png");
          }
        }
      }

      $count: 3;

      &.animate .tile {
        @for $i from 1 through $count {
          &:nth-child(#{$i}) {
            @include animation(tile, 1s, #{$count - $i}s);

            animation-play-state: running;
          }
        }
      }

      &.rebuild {
        transform: rotateX(0deg) rotateZ(0deg);

        .tile {
          width: 340px;
          transform-style: preserve-3d;
          list-style-type: none;
          background-size: cover;
          position: static;
          top: unset;
          left: unset;
          transition: left .5s ease-in;
          transform: translateX(0);
        }

        .slick-arrow {
          &::before {
            color: $main_blue;
          }
        }
      }
    }
  }
}

@keyframes tile {
  to {
    left: 0;
  }
}
