@mixin button ($color, $shadow_color, $large: true) {
  border-radius: 8px;
  display: inline-block;
  background-color: $color;
  box-shadow: 7px 7px 0 rgba($shadow_color, 1);
  border: none;
  outline: none;
  color: #fff;
  transition: all .1s ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Akrobat';
  font-weight: 300;
  letter-spacing: 2.5px;

  @if ($large == true) {
    width: 280px;
    height: 80px;
    line-height: 80px;
  }

  @else {
    width: 200px;
    height: 60px;
    line-height: 60px;
  }

  &:hover {
    transform: translate(4px, 4px);
    box-shadow: 3px 3px 0 rgba($shadow_color, 1);
  }
}
