textarea,
input {
  padding: 12px 20px;
  border: none;
  box-shadow: 3px 0 9px rgba(#000, .5);
  font-size: 24px;

  &:focus {
    outline-color: $main_blue-hover;
  }

  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    text-transform: uppercase;
    color: $ct_dark;
    font-family: 'Akrobat', OpenSans, sans-serif;
    font-weight: 300;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    text-transform: uppercase;
    color: $ct_dark;
    font-family: 'Akrobat', OpenSans, sans-serif;
    font-weight: 300;
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
    text-transform: uppercase;
    color: $ct_dark;
    font-family: 'Akrobat', OpenSans, sans-serif;
    font-weight: 300;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    text-transform: uppercase;
    color: $ct_dark;
    font-family: 'Akrobat', OpenSans, sans-serif;
    font-weight: 300;
  }
}
