body {
  font-size: 18px;
  color: $ct_dark;
  line-height: 1.4;
  font-family: 'Akrobat', OpenSans, sans-serif;
  font-weight: 100;

  @media screen and (min-width: 591px) {
    font-size: 21px;
  }

  @media screen and (min-width: 992px) {
    font-size: 24px;
  }

  a {
    color: $ct_light;
    text-decoration: none;
    transition: color .25s ease-in-out;

    &:hover {
      color: $main_blue;
    }
  }

  h1,
  h2,
  h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
  }

  h1 {
    font-size: 6rem;
    color: $ct_light;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.05em;

    @media screen and (min-width: 591px) {
      font-size: 10rem;
    }
  }

  h2 {
    font-size: 3em;
    font-weight: 600;
  }

  .section-title {
    .subtitle {
      font-size: 1.2em;
    }
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .subtitle {
    font-size: 1.8rem;
    color: $header_text;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;

    @media screen and (min-width: 591px) {
      font-size: 2.5rem;
    }
  }
}
