html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $bg_main;
}

.hidden {
  display: none !important;
}

.container {
  margin: 0 auto;
  max-width: 1940px;
  padding: 0 5px;

  @media screen and (min-width: 375px) {
    padding: 0 15px;
  }
}
