doctype html
html
  head
    title Clique.digital
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset='UTF-8')
    link(rel='stylesheet', type='text/css', href='assets/css/style.css')
  body
    span#phone
      i.fa.fa-phone

    .wrapper
      header#home
        include ./parts/header

      main
        include ./parts/wwd
        include ./parts/portfolio
        include ./parts/preferences
        include ./parts/contacts
      
      footer  
        include ./parts/footer
    
    //MODAL FORM
    include ./parts/modal-form

    script(src='assets/js/bundle.js', async='', defer='')
