@import 'cases/captainsu';
@import 'cases/zsad';

.portfolio {
  .case {
    display: grid;
    grid-template-columns: 50% 50%;

    .desc {
      ul {
        list-style-type: none;

        li {
          display: inline-block;
        }
      }
    }
  }
}
