footer {
  display: grid;
  grid-area: footer;
  grid-template-rows: 1fr 55px;
  grid-template-areas:
    "footer_top"
    "footer_bottom";
  color: $ct_light;

  a {
    color: $ct_light;
  }

  .footer-top {
    display: grid;
    justify-items: center;
    align-content: center;
    grid-area: footer_top;
    background-color: #333;
    text-align: center;

    a {
      display: inline-block;
      padding: 0 8px 15px;
    }

    hr {
      width: 100%;
    }

    ul {
      @extend %ul-style;

      li {
        padding: 0 10px;
      }
    }
  }

  .footer-bottom {
    padding: 0 25px;
    display: grid;
    justify-content: end;
    align-content: center;
    grid-area: footer_bottom;
    background-color: #141414;

    i {
      padding: 0 8px;
    }
  }
}
