header {
  background: url('../images/header-bg.svg') center center;
  background-size: cover;
  width: 100%;
  height: 700px;
  grid-area: header;
  position: relative;
  text-align: center;
  padding-top: 74px;

  nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 5px 45px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(#000, .7);
    transition: background-color 0.4s ease;
    z-index: 9;

    @media screen and (min-width: 768px) and (max-width: 992px) {
      padding: 25px 15px;
      grid-template-columns: 1fr auto 1fr;
      grid-template-areas: "phone . navigation";
    }

    .container {
      @include container();

      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-areas: "phone navigation";
    }
    
    .logo {
      img {
        width: 75px;
      }
    }

    &.sticky {
      position: fixed;
      top: 0;
      bottom: initial;
      transition: background-color 0.4s ease;
      padding: 8px 45px;
      min-height: 40px;
      font-size: .8em;
      background-color: #fff;
      box-shadow: 0 1px 5px rgba(#000, .7);

      @media screen and (min-width: 768px) and (max-width: 992px) {
        padding: 8px 15px;
      }

      @media screen and (max-width: 767px) {
        .navigation {
          bottom: -137px;
          top: initial;
          right: 0;
          position: absolute;
          background-color: rgba(#333, .9);
          width: 100%;
          text-align: left;
          padding: 5px 0;
          display: block;
        }
      }
    }

    .phone {
      grid-area: phone;
      color: $ct_light;
      text-align: left;
      letter-spacing: 2px;
      white-space: nowrap;

      i {
        margin-right: 8px;
        line-height: 1;
        color: $main_blue-hover;
      }
    }

    .nav-mobile {
      color: $ct_light;
      font-size: 1.5em;
      position: absolute;
      cursor: pointer;
      top: 50%;
      transform: translate(0, -50%);
      right: 45px;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    .navigation {
      @extend %ul-style;

      opacity: 0;
      pointer-events: none;
      display: none;
      transition: opacity .25s ease-in-out;

      @media screen and (min-width: 768px) {
        grid-area: navigation;
        text-align: right;
        padding: 0;
        display: initial;
        margin-left: auto;
        position: static;
        width: auto;
        background-color: transparent;
        opacity: 1;
        pointer-events: all;
      }

      &.opened {
        opacity: 1;
        pointer-events: all;
      }
    }

    li {
      padding: 8px 10px;
      margin-left: 30px;
      display: block;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 20px;

      @media screen and (min-width: 768px) {
        display: inline;
        padding: 0 12px;
        width: auto;

        &:first-child {
          padding: 0 12px 0 0;
        }

        &:last-child {
          padding: 0 0 0 12px;
        }
      }

      a {
        line-height: 52px;
        color: $main_blue-hover;
        font-weight: 500;
      }
    }
  }

  .heading {
    margin: 0 45px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
    align-items: center;

    .title {
      text-align: left;

      h1 {
        text-align: left;
        color: $header_text;
        font-size: 3em;

        span {
          text-decoration: underline;
        }
      }

      .subtitle {
        font-size: 2.5em;
      }
    }

    .call-to-action {
      text-align: left;
      color: $header_text;
      font-weight: 500;

      span {
        font-size: 1.4em;
      }

      a.btn {
        display: block;
        width: 200px;
        text-align: center;
        background-color: $main_blue;
        padding: 12px 45px;
        margin-top: 20px;
        margin-left: 40px;
        border-radius: 5px;
      }
    }
  }

  // .openbtn {
  //   position: fixed;
  //   top: 47px;
  //   width: 360px;
  //   height: 60px;
  //   background-color: transparent;
  //   right: -128px;
  //   transform: rotate(45deg) scale(.6);
  //   cursor: pointer;
  //   transition: all .25s ease;

  //   &.sticky {
  //     position: absolute;
  //     top: 88px;
  //   }

  //   &.opened {
  //     right: -100%;
  //   }

  //   &:hover {
  //     .open-label {
  //       background-color: $main_blue-hover;
  //     }
  //   }

  //   .open-label {
  //     width: 100%;
  //     height: 100%;
  //     position: absolute;
  //     top: 0;
  //     background: $main_blue;
  //     transform: skew(-45deg);
  //     transition: all .2s ease-in-out;
  //   }

  //   span {
  //     top: 5px;
  //     position: absolute;
  //     z-index: 10;
  //     color: $ct_light;
  //     left: 38px;
  //     text-transform: uppercase;
  //     font-size: 1.3em;
  //   }
  // }
}
