@import 'main-parts/title';
@import 'main-parts/what-we-do';
@import 'main-parts/preferences';
@import 'main-parts/portfolio';
@import 'main-parts/contacts';
@import 'main-parts/modal_form';
@import "cases";

main {
  background-color: $bg_main;
  grid-area: main;
  max-width: 100vw;
}

body {
  &.no-scroll {
    overflow: hidden;
  }
}
