section#contacts.contacts
  .section-title
    h2 Обратная связь
    span.subtitle
      hr
      |               есть вопросы? мы свяжемся с вами!
  .contact-wrap
    .form
      form(action='#')
        input(type='text', placeholder='Ваше имя')
        input(type='phone', placeholder='Ваш телефон')
    .credits
      p.title Или свяжитесь с нами:
      p
        a(href='mailto:sales@clique.digital') sales@clique.digital
      p
        a(href='tel:+38(097)963-74-26') +38(097)963-74-26
    .form-sbm
      button(type='submit') Отправить
  .map
    iframe(src='https://snazzymaps.com/embed/10192', width='100%', height='400px', style='border:none;')
