.footer-top
  .contacts
    a(href='tel:+38(097)963-74-26') +38(097)963-74-26
    a(href='#') +38(098)123-12-12
    a(href='mailto:sales@clique.digital') sales@clique.digital
  .adress
    | пр-т Степана Бандери, 21, Київ, 04073
    hr
  ul.menu
    li
      a(href='#home') Главная
    li
      a(href='#portfolio') Портфолио
    li
      a(href='#contacts') Контакты
.footer-bottom
  span
    i.fa.fa-copyright
    | 2012 - 2017 The Clique Digital
