nav
  .container
    .logo
      a(href="#")
        img(src="assets/images/logo.svg")
    .nav-mobile
      i.fa.fa-bars
    ul.navigation
      li
        a(href='#home') Главная
      li
        a(href='#portfolio') Портфолио
      li
        a(href='#contacts') Контакты
      li.phone
        i.fa.fa-phone
        a(href='tel:+38(098)123-12-12') +38(097)963-74-26
.heading
  .left
    .title
      h1 
        span.
          наши сайты
        |  самые
      .subtitle функциональные
    
    .call-to-action
      span.
        хотите узнать больше?
      a.btn(href="#") Подробнее
