.modal-form
  .overlay
  .content
    .LONG
      .section-title
        h2 ОСТАВЬТЕ ВАШИ ДАННЫЕ 
        .subtitle
          | И МЫ С ВАМИ СВЯЖЕМСЯ
      .form
        form(action='#')
          .wrap
            .left
              input(type='text', placeholder='Ваше имя')
              input(type='tel', placeholder='Ваш телефон')
            textarea.message(placeholder='Ваше сообщение')
            button Получить консультацию
            p
              | ИЛИ СВЯЖИТЕСЬ С НАМИ САМИ: 
              br
              |  +38(098)123-12-12
  .closebtn
