section#portfolio.portfolio
  .section-title
    h2 Портфолио
    span.subtitle
      hr
      span Несколько наших проектов
  .container    
    .case.captainsu#case1
      h3.title Captain.su
        hr
      .desc
        p.
          Нестандартный сайт яхтенной компании Captain.su был разработан с целью вызвать у посетителя положительные эмоции, а также познакомить с основными направлениями работы компании. Кроме того на сайте постоянно обновляеться информация о прошедних и предстоящих событиях в мире яхтинга.
        ul
          -
            var icons = [
              "assets/images/port-icons/Drupal.svg",
              "assets/images/port-icons/react.svg",
              "assets/images/port-icons/Jquery.svg",
              "assets/images/port-icons/PHP.svg",
              "assets/images/port-icons/responsive.svg",
            ]
          each item in icons
            li.port-icon 
              img(src= item)
      .view
        //- .look_more
        //-   a.btn(href="#") Подробнее
        .device.macbook
          .display
            img(src='assets/images/devices/macbook_display.svg')
            .content
              video(preload='true' autoplay='autoplay' loop='loop' muted)
                source(src='assets/video/capsu.webm' type="video/webm")
                source(src='assets/video/capsu.mp4'  type="video/mp4")
          .base
            img(src='assets/images/devices/macbook_base.svg')
        .device.iphone.white
          img(src='assets/images/devices/iphone_white.svg')
          .content
            img(src='assets/images/cases/capsu/capsu_phone_1.png')
    .case.zsad#case2
      h3.title zsad.com.ua
        hr
      .desc
        p.
          Сайт частного детского сада и центра развития "ЗеленСад" призван помочь найти родителям место для должного развития их чада, а также предоставлять мамам и папам дополнительную информацию о том, как дети проводят время.
        ul
          -
            var icons = [
              "assets/images/port-icons/Drupal.svg",
              "assets/images/port-icons/Jquery.svg",
              "assets/images/port-icons/responsive.svg",
              ]
          each item in icons
            li.port-icon 
              img(src= item)
      .view
        .look_more
          a.btn.rebuild(href="#") Подробнее
        .tiles
          .tile
          .tile
          .tile
    .case.routes#case3
      h3.title yachtroute.ru
        hr
      .desc
        p.
          yachtroute.ru – настоящее сокровеще для яхтсменов, так как именно сдесь они могут найти машруты для своих путешествий. Совместный проект авторитетного издания Yacht Russia и оператора яхтенных пешествий Captain.su
          
      .view
        .look_more
          a.btn.rebuild(href="#") Подробнее
        p.
          Предпросмотр с девайсами
    .case.vis#case4
      h3.title VIS distribution.com
        hr
      .desc
        p.
          Описание!!
      .view
        .look_more
          a.btn.rebuild(href="#") Подробнее
        .tiles
          p.
            Предпросмотр с плитками
    .contact-block
      a.btn(href="#contacts") Связаться с нами
