section.preferences
  .section-title
    h2 Почему мы?
  .pref-btns
    ul
      li
        a#ideas.pref-btn(href='#') Реализация идей
      li
        a#design.pref-btn(href='#') Дизайн
      li
        a#devel.pref-btn(href='#') Разработка
  .container      
    .pref-grid
      .pref-text.ideas
        h3 Sample Header Ideas
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A perspiciatis placeat harum sint natus voluptatibus, ipsam blanditiis ullam minus id dicta deserunt rem mollitia, doloribus temporibus officia maiores doloremque quos.
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A perspiciatis placeat harum sint natus voluptatibus, ipsam blanditiis ullam minus id dicta deserunt rem mollitia, doloribus temporibus officia maiores doloremque quos.

      .pref-text.design.hidden
        h3 Sample Header Design
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A perspiciatis placeat harum sint natus voluptatibus, ipsam blanditiis ullam minus id dicta deserunt rem mollitia, doloribus temporibus officia maiores doloremque quos.
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A perspiciatis placeat harum sint natus voluptatibus, ipsam blanditiis ullam minus id dicta deserunt rem mollitia, doloribus temporibus officia maiores doloremque quos.
      
      .pref-text.devel.hidden
        h3 Sample Header Devel
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A perspiciatis placeat harum sint natus voluptatibus, ipsam blanditiis ullam minus id dicta deserunt rem mollitia, doloribus temporibus officia maiores doloremque quos.
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A perspiciatis placeat harum sint natus voluptatibus, ipsam blanditiis ullam minus id dicta deserunt rem mollitia, doloribus temporibus officia maiores doloremque quos.

      .pref-animation.ideas
        .device.iMac
          img(src="assets/images/devices/imac.svg")
          .content
            img(src="assets/images/prefs/wireframe.png")
            include /media/images/prefs/lamp.svg  
        img.document.animation-unit(src='assets/images/prefs/doc.png', alt='ideas document')

      .pref-animation.design.hidden
        .device.iMac
          img(src="assets/images/devices/imac.svg")
          .content
            img(src="assets/images/prefs/responsive_imac.png")

        .device.iphone.black.animation-unit
          img(src="assets/images/devices/iphone_black.svg")
          .content
            img(src="assets/images/prefs/responsive_iphone.png")
        
        .device.ipad.black.animation-unit
          img(src="assets/images/devices/ipad_black.svg")
          .content
            img(src="assets/images/prefs/responsive_ipad.png", alt="ipad")


      .pref-animation.devel.hidden
        .device.iMac.animation-unit
          img(src="assets/images/devices/imac.svg")
          .content

        .device.iphone.black.animation-unit
          img(src="assets/images/devices/iphone_black.svg")
          .content
            img(src="assets/images/prefs/devel_imac.png")  
