- var header = ['Стратегия', 'Дизайн', 'Drupal', 'Разработка', 'Долгосрочная поддержка']
- var shortText = ['Правильная постановка задачи', 'Цифровые решения предназначенные для взаимодействия с людьми', 'Мы помогаем вам собрать, управлять и распространять вашу информацию', 'Когда дело доходит до написания качественного кода, это личное','Настоящее развлечение начинается когда сайт запускается']
- var image = ['assets/images/wwd/strategy.svg', 'assets/images/wwd/design.svg', 'assets/images/wwd/drupal.svg', 'assets/images/wwd/development.svg', 'assets/images/wwd/longterm.svg']

- var i = 0;
- var itemCount = 5;

section.what-we-do
  .section-title
    h2 Что мы делаем
    span.subtitle
      hr
      span Clique.digital – агенство полного цикла
  .wwd-carousel
    while i < itemCount
      .wwd-item
        .item-top
          .overlay
          img(src= image[i], alt= header[i])
        h3= header[i]
        .short-text= shortText[i]
        - i++
    
